/*--------------------------------------------------------------*/
/* GENERAL */
/*--------------------------------------------------------------*/

@font-face {
  font-family: Futura;
  src: url(Futura Bold font.tff);
}

/* links color */
a {
  color: #ed6663;
}

p {
  font-size: 18px;
}

h1, .sig, p, a, h4, h3 {
  font-family: Futura;
  color: #ffa372;
}

h3 {  
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/*--------------------------------------------------------------*/
/* STORY PAGE - PARALLAX SCROLLING */
/*--------------------------------------------------------------*/

body#story {
  background-color: #fff3e0;
  height: 18600px;
}

/* foreground (balloons/landscape)*/
div#parallax-bg-1 {
  position: fixed;
  width: 1200px;
  margin-top: 2600px;
  top: 0;
  left: 50%;
  margin-left: -600px;
  z-index: 1;
}

/* background middle layer*/
div#parallax-bg-2 {
  position: fixed;
  width: 1200px;
  margin-top: 1330px;
  left: 50%;
  margin-left: -600px;
  z-index: 2;
}

/* background layer */
div#parallax-bg-3 {
  position: fixed;
  width: 960px;
  top: 0;
  left: 50%;
  margin-left: -470px;
  z-index: 3;
}

/* foreground */
div#parallax-bg-3 div {
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  overflow: hidden;
}

div#bg-3-1 {
  width: 529px;
  height: 757px;
  top: -100px;
  right: 100px;
}

div#bg-3-2 {
  width: 603px;
  height: 583px;
  top: 1050px;
  right: 70px;
}

div#bg-3-3 {
  width: 446px;
  height: 713px;
  top: 1800px;
  right: 140px;
}

div#bg-3-4 {
  width: 1104px;
  height: 684px;
  top: 2800px;
  right: 0px;
}

/* middle layer clouds */
div#parallax-bg-2 div {
  background-repeat: no-repeat;
  /* position: absolute; */
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

div#bg-2-1 {
  top: 100px;
  left: -310px;
}

div#bg-2-2 {
  top: 270px;
  right: -70px;
}

div#bg-2-3 {
  top: 870px;
  left: -300px;
}

div#bg-2-4 {
  top: 1120px;
  right: -130px;
}

div#bg-2-5 {
  top: 1620px;
  left: 140px;
}

div#bg-2-6 {
  top: 720px;
  left: 340px;
}

/*background layer clouds */
div#parallax-bg-1 div {
  background-repeat: no-repeat;
  /* position: absolute; */
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

div#bg-1-1 {
  top: 200px;
  right: 450px;
}

div#bg-1-2 {
  top: 420px;
  left: 0px;
}

div#bg-1-3 {
  top: 850px;
  right: -290px;
}

div#bg-1-4 {
  top: 1350px;
  left: 200px;
}

div#bg-1-5 {
  top: 1200px;
  left: -200px;
}

/*--------------------------------------------------------------*/
/* STORY PAGE CITY ANIMATION */
/*--------------------------------------------------------------*/

/* city animation for story page */
#little_city {
  position: relative;
}

/* city animation for story page */
#little_buildings {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* city animation for story page */
#little_bike {
  width: 5%;
  bottom: 0;
  margin-top: 140px;
}

/*--------------------------------------------------------------*/
/* SNAP SCROLLING */
/*--------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Scroll snap effect*/
figure {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;

  &:first-of-type {}
}

.screenTitle {
  text-align: center;
}

/* Different screen backgrounds*/
#s1 {
  background-color: white;
}

#s2 {
  background-color: #ed6663;
}

#s3 {
  background-color: white;
}

#s4 {
  background-color: #ed6663;
}

#s5 {
  background-color: white;
}

#s6 {
  background-color: #ed6663;
}

.screen1Text {
  background-color: white;
  border: 15px solid #1b262c;
  float: left;
  padding: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 40%;
}

.screen1Image {
  width: 50%;
  float: right;
}

/*--------------------------------------------------------------*/
/* HOME PAGE TRANSPORT MODES */
/*--------------------------------------------------------------*/

#home {
  background-color: #1b262c;
  background-size: auto;
  overflow: hidden;
  margin: 0;
}

#homepageTitle{
  position: relative;
  padding: 5px;
}

.groupNameTextHeader {
  text-align: center;
}

#city_animation {
  position: relative;
  height: -webkit-fit-content;
  width: 100%;
  height: 70vh;
}

#sidewalk {
  bottom: 0px;
}

#city_background {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0%;
}

#car_icon {
  position: absolute;
  z-index: 4;
  height: 14vh;
  bottom: 6%;
}

#bike_icon {
  position: absolute;
  z-index: 3;
  height: 12vh;
  bottom: 12%;
}

#bus_icon {
  position: absolute;
  z-index: 2;
  height: 16vh;
  bottom: 12%;
}

/* APPLY BOUNCE EFFECT TO CAR BODY */
#car_bounce, #wheel_holes {
  animation: bounce 1s infinite linear;
}

/* APPLY BOUNCE EFFECT TO BUS BODY */
#bus_no_wheels, #bus_wheel_holes {
  animation: bounce 1s infinite linear;
}

/* APPLY ROTATION TO CAR WHEELS */
.cls-6 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  animation: rotation 4s infinite linear;
}

/* APPLY ROTATION TO BIKE WHEELS */
#bike-wheels_medium1, #bike-wheels_medium2 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  animation: rotation 1s infinite linear;
}

/* APPLY ROTATION TO BUS WHEELS */
#bus_wheels_ring .bus-cls-4 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  animation: rotation 2s infinite linear;
}

/* BOUNCING ANIMATION */
@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(-10px); }
}

/* ROTATION ANIMATION */
@keyframes rotation {
  to { transform: rotate(360deg); }
}

/*--------------------------------------------------------------*/
/* HOMEPAGE MENU */
/*--------------------------------------------------------------*/

.homepage_menu {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 12vh;
  margin-left: 35%;
  top: 88vh;
}

.pushme {
  position: relative;
  font-weight: 700;
  background-color: #ffa372;
  border-radius: 0.6em;
  display: inline-block;
  margin: 1em;
  font-size: 15px;
  font-family: Futura;
  color: #ffa372;
}

.pushme .inner {
  display: inline-block;
  background-color: #1b262c;
  border-radius: 0.6em;
  border: 0.3em solid #ffa372;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate3d(0.6em, -0.6em, 0);
  transform: translsate3d(0.6em, -0.6em, 0);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 220ms;
  transition-delay: 220ms;
}

.pushme:active .inner, .pushme.click .inner, .pushme:hover .inner {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}

.button {
  width: 200px;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/*--------------------------------------------------------------*/
/* INTERACTIVE MAP PAGE INTERACTIVE GRAPH */
/*--------------------------------------------------------------*/

.msoaInfo {
  position: absolute;
  font-family: futura;
  top: 80px;
  left: 0;
  padding: 5px;
  width: 100%;
  height: 60%;
  font-size: 14px;
  color: #222;
  background-color:#1b262c;
  border-radius: 3px;
}

.msoaInfoText {
 color:#fff3e0
}

.mapLegend{
  position: relative;
  right: -1170px;
  top: 50px;
  /* color: #222;
  background-color:#1b262c;
  border-radius: 3px;
  padding: 5px; */
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
  background-color:rgba(27,38,44, 0.7);
}

#clusterConsole{
  position: relative;
  right: -1070px;
  top: 210px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 100px;
  background-color:rgba(27,38,44, 0.7);
}
/* .circle{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border:1px solid red;
  line-height: 65px;
  text-align: center;
} */

/*chart*/

.axis {
 color:#fff3e0
}

.gridLines {
 color:#0d1316
}

#Legend {
 font-size:0.7em;
}

#map {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
#map_container {
  position: absolute;
  left: 30%;
  width: 70%;
  height: 100%;
}
#map_sidebar {
  position: absolute;
  width: 30%;
  height: 100%;
  padding: 2%;
  background-color: #1b262c;
  padding-top: 120px;
}

#sidebarInstructions {
 width: 100%;
 position: absolute;
 top: 60px;
}

.DataSources {
position:absolute;
bottom: 0;
left: 0;
width:100%;
background-color:#37a583;
}

.DataSourcesText {
color:#fff3e0;
margin-left: 20px;
}

/*return button on the map*/
.pushmeSmaller {
  position: relative;
  font-weight: 700;
  background-color: #ffa372;
  border-radius: 0.6em;
  display: inline-block;
  margin: 1em;
  font-size: 10px;
  font-family: Futura;
  color: #ffa372;
}

/*toggle for clusters*/

#clusterSwitch {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px 2px;
  width: 150px;
  height: 20px;
}

#clusterButtonLabel {
  text-align: center;
}

/* Switch for cluster 1 */

.onoffswitchCluster1 {
  position: relative; width: 40px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchCluster1-checkbox {
  display: none;
}
.onoffswitchCluster1-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitchCluster1-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 18px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitchCluster1-checkbox:checked + .onoffswitchCluster1-label {
  background-color: #ffa372;
}
.onoffswitchCluster1-checkbox:checked + .onoffswitchCluster1-label, .onoffswitchCluster1-checkbox:checked + .onoffswitchCluster1-label:before {
 border-color: #ffa372;
}
.onoffswitchCluster1-checkbox:checked + .onoffswitchCluster1-label:before {
  right: 0px; 
}

/* Switch for cluster 2 */

.onoffswitchCluster2 {
  position: relative; width: 40px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchCluster2-checkbox {
  display: none;
}
.onoffswitchCluster2-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitchCluster2-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 18px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitchCluster2-checkbox:checked + .onoffswitchCluster2-label {
  background-color: #ed6663;
}
.onoffswitchCluster2-checkbox:checked + .onoffswitchCluster2-label, .onoffswitchCluster2-checkbox:checked + .onoffswitchCluster2-label:before {
 border-color: #ed6663;
}
.onoffswitchCluster2-checkbox:checked + .onoffswitchCluster2-label:before {
  right: 0px; 
}

/* Switch for cluster 3 */

.onoffswitchCluster3 {
  position: relative; width: 40px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchCluster3-checkbox {
  display: none;
}
.onoffswitchCluster3-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitchCluster3-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 18px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitchCluster3-checkbox:checked + .onoffswitchCluster3-label {
  background-color: #37a583;
}
.onoffswitchCluster3-checkbox:checked + .onoffswitchCluster3-label, .onoffswitchCluster3-checkbox:checked + .onoffswitchCluster3-label:before {
 border-color: #37a583;
}
.onoffswitchCluster3-checkbox:checked + .onoffswitchCluster3-label:before {
  right: 0px; 
}

/* Switch for cluster 4 */

.onoffswitchCluster4 {
  position: relative; width: 40px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchCluster4-checkbox {
  display: none;
}
.onoffswitchCluster4-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitchCluster4-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 18px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitchCluster4-checkbox:checked + .onoffswitchCluster4-label {
  background-color: #186da0;
}
.onoffswitchCluster4-checkbox:checked + .onoffswitchCluster4-label, .onoffswitchCluster4-checkbox:checked + .onoffswitchCluster4-label:before {
 border-color: #186da0;
}
.onoffswitchCluster4-checkbox:checked + .onoffswitchCluster4-label:before {
  right: 0px; 
}

/* Switch for cluster 5 */

.onoffswitchCluster5 {
  position: relative; width: 40px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitchCluster5-checkbox {
  display: none;
}
.onoffswitchCluster5-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitchCluster5-label:before {
  content: "";
  display: block; width: 20px; margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 18px;
  border: 2px solid #E3E3E3; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitchCluster5-checkbox:checked + .onoffswitchCluster5-label {
  background-color: #fff059;
}
.onoffswitchCluster5-checkbox:checked + .onoffswitchCluster5-label, .onoffswitchCluster5-checkbox:checked + .onoffswitchCluster5-label:before {
 border-color: #fff059;
}
.onoffswitchCluster5-checkbox:checked + .onoffswitchCluster5-label:before {
  right: 0px; 
}




/*--------------------------------------------------------------*/
/* STORY PAGE INTERACTIVE CHART */
/*--------------------------------------------------------------*/

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
  display: block;
  opacity: 0;
}

.legend {
  font-size: 12px;
}

rect {
  cursor: pointer;
  /* NEW */
  stroke-width: 2;
}

rect.disabled {
  /* NEW */
  fill: transparent !important;
  /* NEW */
}

#chart {
  float: left;
  margin-left: 10%;
}

chart-container {
  position: relative;
}

.bar {
  fill: #1888d6;
  transition: all 150ms ease;
}

.bar:hover {
  fill: #09163d;
}

.axis--x path {
  visibility: hidden;
}

/* THIS IS WHERE THE GRAPH LABEL COLOR IS DEFINED */
svg text {
  fill:#ffa372;
  font-family: futura;
}

.background-style {
  background: #f1f2f3;
}

.tip {
  width: 3rem;
  background-color: #eee;
  text-align: center;
  box-shadow: 0px 2px 10px -2px #aaa;
  border: 2px solid #444;
  transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tip::after {
  content: " ";
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  margin-left: -.5rem;
  border-style: solid;
  border-width: .5rem .5rem 0 .5rem;
  border-color: #444 transparent transparent transparent;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  width: 50%;
  margin: 20px auto;
  margin-top: 5%;
}

/*--------------------------------------------------------------*/
/* SPIDER ANIMATION */
/*--------------------------------------------------------------*/

.spider {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 15%;
  /* 4. Animatie */
  animation: swing 2s infinite;
  transform-origin: top;
  /* Bonus */
  transition: 0.8s ease-in-out;
}

.spider .spiderweb {
  width: 2px;
  height: 100px;
  margin-left: 49px;
  background: rgba(255, 255, 255, 0.7);
}

.spider .body {
  width: 100px;
  height: 80px;
  background: #222;
  position: relative;
  border-radius: 50%;
}

.spider .body .eye {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20px;
  background: #fff;
  border-radius: 50%;
}

.spider .body .eye.left {
  left: 20px;
}

.spider .body .eye.right {
  right: 20px;
}

.spider .body .eye:after {
  background: #222;
  width: 7px;
  height: 7px;
  content: "";
  display: block;
  margin: 55%;
  border-radius: 50%;
  /* 3. Animatie */
  animation: look 4s infinite;
}

.spider .legs .leg {
  width: 80px;
  height: 40px;
  margin-top: -20px;
  border: 5px solid transparent;
  border-top-color: #333;
  border-radius: 40px 40px 0 0;
}

.spider .legs {
  position: absolute;
  bottom: -10%;
  z-index: -1;
}

.spider .legs.left {
  left: -70%;
}

.spider .legs.right {
  right: -60%;
}

.legs.left .leg:nth-child(1) {
  transform: rotate(10deg);
  margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
  transform: rotate(-10deg);
  margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
  transform: rotate(-20deg);
  margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
  transform: rotate(20deg);
  margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
  transform: rotate(-50deg);
  margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
  transform: rotate(50deg);
  margin-left: -30px;
}

/* 1. Animatie */
@keyframes look {
  0%, 40%, 100% {
    transform: translateX(0);
  }

  45%, 95% {
    transform: translateX(-110%);
  }
}

/* 3. Animatie */
@keyframes swing {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* --------------------------------------------------------------*/
/* FLOWS BUTTON */
/*--------------------------------------------------------------*/

#flowsSwitch {
  position: absolute;
  bottom: 95px;
  left: 0px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#flowButtonLabel {
  text-align: center;
  position: absolute;
  bottom: 80px;
}

input[type=checkbox]{
height: 0;
width: 0;
visibility: hidden;
}

#flowsLabel {
cursor: pointer;
text-indent: -9999px;
width: 50px; 
height: 25px;
background: grey;
display: block;
border-radius: 100px;
position: relative;
}

#flowsLabel:after {
content: '';
position: absolute;
top: 1px;
left: 1px;
width: 24px;
height: 24px;
background: #fff;
border-radius: 90px;
}

input:checked + #flowsLabel {
background: #37a583;
}

input:checked + #flowsLabel:after {
left: calc(100% - 1px);
transform: translateX(-100%);
}

#flowsLabel:active:after {
width: 90px;
}
