/*--------------------------------------------------------------*/
/* GENERAL */
/*--------------------------------------------------------------*/
@font-face {
  font-family: Futura;
  src: url(Futura Bold font.tff);
}

a {
  color: #ed6663;
}

p {
  font-size: 18px;
}

h1, .sig, p, a, h4, h3 {
  font-family: Futura;
  color: #ffa372;
}

h3 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/*--------------------------------------------------------------*/
/* STORY PAGE - PARALLAX SCROLLING */
/*--------------------------------------------------------------*/
body#story {}


.openTitle {
  text-align: center;
  color: #fff3e0;
  font-style: italic;
  font-size: 50px;
  margin-top: 10%;
}

.introText {
  z-index: 1000;
  font-family: futura;
  font-size: 25px;
}

.openDiv {
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  margin: auto;
}

.nextButton {
  margin-left: 10%;
  color: #1b262c;
}

#ruralVsUrban {
  display: block;
  text-align: center;
}
#chartRural{
  color: #fff3e0;
}
#chartUrban{
  color: #fff3e0;
}
#londonVsBirmingham{
  display: block;
  text-align: center;
  color: #fff3e0;
  margin-bottom: 25%;
}
.sustainableTravelText {
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    color: #fff3e0;
}
.londonVsBirminghamText{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #fff3e0;
}
.cityGif{
  width: 80%;
  margin-top: 5%;
  height: 140%;
  margin-left: 20%;
}
.cityText{
  color: #fff3e0;
}
.barCharDiv{
  display: block;
  margin: auto;
  text-align: center;
  /* margin-top: 380px; */
}

.transportAccessTitle{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #fff3e0;
}
.transportTextAcess{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #fff3e0;
}
.travelTime{
  color: #fff3e0;
}
.ruralUrbanText{
  margin-top: 280px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #fff3e0;
}

.openText {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
  color: #fff3e0;
}

#my_dataviz {
  display: block;
  margin: auto;
  text-align: center;
}

.transportAccessText {
  text-align: left;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  color: #1b262c;
}
.spatialScaleText{
  text-align: left;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  color: #fff3e0;
}
.spatialScaleHeader {
  font-size: 40px;
font-family: futura;
color: #fff3e0;
margin-left:10%;
}

/*--------------------------------------------------------------*/
/* STORY PAGE CITY ANIMATION */
/*--------------------------------------------------------------*/
#little_city {
  position: relative;
  margin: 0;
  padding: 0;
}

#little_buildings {
  position: relative;
  width: 100%;
  bottom: 0;
}

#little_bike {
  position: absolute;
  width: 5%;
  left: 0;
  bottom: 5px;
  z-index: .5;
}

/*--------------------------------------------------------------*/
/* SNAP SCROLLING */
/*--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Scroll snap effect*/
figure {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;

  &:first-of-type {}
}

.screenTitle {
  text-align: center;
}

/* Different screen backgrounds*/
#s1 {
  background-color: white;
}

#s2 {
  background-color: #ed6663;
}

#s3 {
  background-color: white;
}

#s4 {
  background-color: #ed6663;
}

#s5 {
  background-color: white;
}

#s6 {
  background-color: #ed6663;
}

.screen1Text {
  background-color: white;
  border: 15px solid #1b262c;
  float: left;
  padding: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 40%;
}

.screen1Image {
  width: 50%;
  float: right;
}

/*--------------------------------------------------------------*/
/* HOME PAGE TRANSPORT MODES ANIMATION */
/*--------------------------------------------------------------*/
#home {
  background-color: #1b262c;
  background-size: auto;
  overflow: hidden;
  margin: 0;
}

#homepageTitle {
  position: relative;
  padding: 5px;
}

.groupNameTextHeader {
  text-align: center;
}

#city_animation {
  position: relative;
  height: -webkit-fit-content;
  width: 100%;
  height: 70vh;
}

#sidewalk {
  bottom: 0px;
}

#city_background {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: 0%;
}

#car_icon {
  position: absolute;
  z-index: 4;
  height: 14vh;
  bottom: 6%;
}

#bike_icon {
  position: absolute;
  z-index: 3;
  height: 12vh;
  bottom: 12%;
}

#bus_icon {
  position: absolute;
  z-index: 2;
  height: 16vh;
  bottom: 12%;
}

/* apply bounce effect to car and bus body */
#car_bounce, #wheel_holes, #bus_no_wheels, #bus_wheel_holes {
  animation: bounce 1s infinite linear;
}

/* apply rotation to car wheels */
.cls-6 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  animation: rotation 4s infinite linear;
}

/* apply roation to bike wheels */
#bike-wheels_medium1, #bike-wheels_medium2 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  animation: rotation 1s infinite linear;
}

/* apply rotation to bus wheels */
#bus_wheels_ring .bus-cls-4 {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(45deg);
  animation: rotation 2s infinite linear;
}

/* BOUNCING ANIMATION */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* ROTATION ANIMATION */
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------*/
/* HOMEPAGE MENU */
/*--------------------------------------------------------------*/
.homepage_menu {
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 12vh;
  margin-left: 35%;
  top: 88vh;
}

.pushme {
  position: relative;
  font-weight: 700;
  background-color: #ffa372;
  border-radius: 0.6em;
  display: inline-block;
  margin: 1em;
  font-size: 15px;
  font-family: Futura;
  color: #ffa372;
}

.pushme .inner {
  display: inline-block;
  background-color: #1b262c;
  border-radius: 0.6em;
  border: 0.3em solid #ffa372;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate3d(0.6em, -0.6em, 0);
  transform: translsate3d(0.6em, -0.6em, 0);
  -webkit-transition: -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 240ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 220ms;
  transition-delay: 220ms;
}

.pushme:active .inner, .pushme.click .inner, .pushme:hover .inner {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 120ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 120ms cubic-bezier(0.23, 1, 0.32, 1);
}

.button {
  width: 200px;
  text-align: center;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

/*--------------------------------------------------------------*/
/* INTERACTIVE MAP PAGE */
/*--------------------------------------------------------------*/
#map {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #1b262c;
}

#map_container {
  position: absolute;
  width: 72%;
  height: 100%;
  right: 0;
  margin: 0;
  padding: 0;
}

#map_sidebar {
  position: absolute;
  width: 28%;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 5% 2% 2% 2%;
  background-color: #1b262c;
  overflow: auto;
}

.sidebarSubtitle {
  position: relative;
  margin: 0% 0% 4% 0%;
  padding: 0;
}

#flowsMoreInfo, #clustersMoreInfo {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
}

#flowsMoreInfo p, #clustersMoreInfo p {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  margin: 0;
  padding: 0px;
  border-radius: 25px;
  background: #ffa372;
  color: #1b262c;
  font-size: 14px;
}

#clustersMoreInfo p:hover, #flowsMoreInfo p:hover a:hover {
  background: #fff059;
}

.infoButtonAlignment {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.msoaInfo {
  position: relative;
  width: 100%;
  margin: 0% 0% 4% 0%;
  font-family: futura;
  font-size: 14px;
  color: #fff3e0;
}

.axis {
  color: #fff3e0
}

.gridLines {
  color: #0d1316
}

#Legend {
  font-size: 0.7em;
}

#legendUrban {
  font-size: 0.7em;
}

#clusterConsole {
  margin: 0% 0% 4% 0%;
}

.clusterLabel {
  margin: 0;
  padding-left: 4px;
  font-size: 12px;
  text-decoration: none;
  color: #fff3e0;
  line-height: 18px;
}

.cluster1, .cluster2, .cluster3, .cluster4, .cluster5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#clusterSwitch {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px 2px;
  width: 150px;
  height: 20px;
}

#clusterButtonLabel {
  text-align: center;
}

.onoffswitchCluster1, .onoffswitchCluster2, .onoffswitchCluster3, .onoffswitchCluster4, .onoffswitchCluster5, .onoffswitchFlows {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitchCluster1-checkbox, .onoffswitchCluster2-checkbox, .onoffswitchCluster3-checkbox, .onoffswitchCluster4-checkbox, .onoffswitchCluster5-checkbox, .onoffswitchFlows-checkbox {
  display: none;
}

.onoffswitchCluster1-label, .onoffswitchCluster2-label, .onoffswitchCluster3-label, .onoffswitchCluster4-label, .onoffswitchCluster5-label, .onoffswitchFlows-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border-radius: 20px;
  background-color: grey;
  transition: background-color 0.3s ease-in;
}

.onoffswitchCluster1-label:before, .onoffswitchCluster2-label:before, .onoffswitchCluster3-label:before, .onoffswitchCluster4-label:before, .onoffswitchCluster5-label:before, .onoffswitchFlows-label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 22px;
  border-radius: 16px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitchCluster1-checkbox:checked+.onoffswitchCluster1-label:before,
.onoffswitchCluster2-checkbox:checked+.onoffswitchCluster2-label:before,
.onoffswitchCluster3-checkbox:checked+.onoffswitchCluster3-label:before,
.onoffswitchCluster4-checkbox:checked+.onoffswitchCluster4-label:before,
.onoffswitchCluster5-checkbox:checked+.onoffswitchCluster5-label:before,
.onoffswitchFlows-checkbox:checked+.onoffswitchFlows-label:before {
  right: 2px;
}

.onoffswitchCluster1-checkbox:checked+.onoffswitchCluster1-label {
  background-color: #186da0;
}

.onoffswitchCluster1-checkbox:checked+.onoffswitchCluster1-label, .onoffswitchCluster1-checkbox:checked+.onoffswitchCluster1-label:before {
  border-color: #186da0;
}

.onoffswitchCluster2-checkbox:checked+.onoffswitchCluster2-label {
  background-color: #fff059;
}

.onoffswitchCluster2-checkbox:checked+.onoffswitchCluster2-label, .onoffswitchCluster2-checkbox:checked+.onoffswitchCluster2-label:before {
  border-color: #fff059;
}

.onoffswitchCluster3-checkbox:checked+.onoffswitchCluster3-label {
  background-color: #ffa372;
}

.onoffswitchCluster3-checkbox:checked+.onoffswitchCluster3-label, .onoffswitchCluster3-checkbox:checked+.onoffswitchCluster3-label:before {
  border-color: #ffa372;
}

.onoffswitchCluster4-checkbox:checked+.onoffswitchCluster4-label {
  background-color: #ed6663;
}

.onoffswitchCluster4-checkbox:checked+.onoffswitchCluster4-label, .onoffswitchCluster4-checkbox:checked+.onoffswitchCluster4-label:before {
  border-color: #ed6663;
}

.onoffswitchCluster5-checkbox:checked+.onoffswitchCluster5-label {
  background-color: #37a583;
}

.onoffswitchCluster5-checkbox:checked+.onoffswitchCluster5-label, .onoffswitchCluster5-checkbox:checked+.onoffswitchCluster5-label:before {
  border-color: #37a583;
}

.onoffswitchFlows-checkbox:checked+.onoffswitchFlows-label {
  background-color: black;
}

.onoffswitchFlows-checkbox:checked+.onoffswitchFlows-label, .onoffswitchFlows-checkbox:checked+.onoffswitchFlows-label:before {
  border-color: black;
}

#flowsLegend {
  display: none;
  position: absolute;
  z-index: 501;
  width: 15%;
  margin: 1% 2% 2% 30%;
  padding: 1%;
  border-radius: 10px;
  background: #1b262c;
}

#flowsLegend img {
  width: 100%;
}

#flowsPopup {
  visibility: hidden;
  position: absolute;
  z-index: 500;
  width: 30%;
  margin: 1% 2% 2% 47%;
  padding: 1%;
  border-radius: 10px;
  background: #1b262c;
  color: #fff3e0;
  font-family: futura;
  font-size: 12px;
}

.flowsSwitch {
  margin: 0% 0% 12% 0%;
}

.DataSources {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: #37a583;
}

.DataSourcesText {
  padding: 1%;
}

.DataSourcesText h4{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.DataSourcesText a {
  font-size: 10px;
  text-decoration: none;
}

.DataSourcesText a:hover {
  color: yellow;
  text-decoration: none;
}

/*--------------------------------------------------------------*/
/* STORY PAGE INTERACTIVE CHARTS */
/*--------------------------------------------------------------*/
.storyLinks a:hover {
  color: yellow;
  text-decoration: none;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
  display: block;
  opacity: 0;
}

.tooltipUrban {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
  display: block;
  opacity: 0;
}

.tooltipRural {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
  display: block;
  opacity: 0;
}

.legend {
  font-size: 12px;
}

rect {
  cursor: pointer;
  /* NEW */
  stroke-width: 2;
}

rect.disabled {
  /* NEW */
  fill: transparent !important;
  /* NEW */
}

#chart {
  display: block;
  margin: auto;
  text-align: center;
}
.totalMSOATravel{
  margin-left: 10%;
  margin-right: 10%;
}
.totalTravelMSOAText{
  color: #fff3e0;
}

chart-container {
  position: relative;
}

.bar {
  fill: #1888d6;
  transition: all 150ms ease;
}

.bar:hover {
  fill: #09163d;
}

.axis--x path {
  visibility: hidden;
}

svg text {
  fill: #ffa372;
  font-family: futura;
}

.msoaInfo svg text {
  fill: #fff3e0;
  font-family: futura;
}

.background-style {
  background: #f1f2f3;
}

.tip {
  width: 3rem;
  background-color: #eee;
  text-align: center;
  box-shadow: 0px 2px 10px -2px #aaa;
  border: 2px solid #444;
  transition: all 160ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tip::after {
  content: ' ';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  margin-left: -.5rem;
  border-style: solid;
  border-width: .5rem .5rem 0 .5rem;
  border-color: #444 transparent transparent transparent;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.peopleAndPublicTransportText {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  color: #fff3e0;
}

/* Clearfix (clear floats) */
.row::after {
  content: '';
  clear: both;
  display: table;
}

.container {
  width: 50%;
  margin: 20px auto;
  margin-top: 5%;
}

.avgTransportTimeTitle {
  font-size: 40px;
  font-family: futura;
  color: #fff3e0;
}

.row {
  text-align: center;
  margin-top: 5%;
}

.transportTimeTitle {
  font-family: futura;
}

.trainImage {
  width: 80%;
  margin-top: 36%;
}

.otherImage {
  width: 60%;
  margin-top:18%;
}

.travelTimeText {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  color: #fff3e0;
}

#my_dataviz1 {
  margin-top: 2%;
  display: block;
  margin: auto;
  text-align: center;
}

.boxPlotText {
  text-align: left;
  display: block;
  margin-right: 10%;
  margin-left: 10%;
  color: #fff3e0;
}

.barChart {
  display: block;
  height: 60%;
  width: 30%;
  text-align: center;
  margin: auto;
}

.transportBoxPlotText {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  color: #fff3e0;
}

.barChartPeople {
  display: block;
  height: 60%;
  width: 30%;
  text-align: center;
  margin: auto;
}

/*--------------------------------------------------------------*/
/* SPIDER ANIMATION */
/*--------------------------------------------------------------*/
.spider {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 25%;
  /* 4. Animatie */
  animation: swing 2s infinite;
  transform-origin: top;
  /* Bonus */
  transition: 0.8s ease-in-out;
}

.spider .spiderweb {
  width: 2px;
  height: 100px;
  margin-left: 49px;
  background: rgba(255, 255, 255, 0.7);
}

.spider .body {
  width: 80px;
  height: 60px;
  background: #222;
  position: relative;
  border-radius: 50%;
}

.spider .body .eye {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 20px;
  background: #fff;
  border-radius: 50%;
}

.spider .body .eye.left {
  left: 20px;
}

.spider .body .eye.right {
  right: 20px;
}

.spider .body .eye:after {
  background: #222;
  width: 7px;
  height: 7px;
  content: '';
  display: block;
  margin: 55%;
  border-radius: 50%;
  /* 3. Animatie */
  animation: look 4s infinite;
}

.spider .legs .leg {
  width: 80px;
  height: 40px;
  margin-top: -20px;
  border: 5px solid transparent;
  border-top-color: #333;
  border-radius: 40px 40px 0 0;
}

.spider .legs {
  position: absolute;
  bottom: -10%;
  z-index: -1;
}

.spider .legs.left {
  left: -70%;
}

.spider .legs.right {
  right: -60%;
}

.legs.left .leg:nth-child(1) {
  transform: rotate(10deg);
  margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
  transform: rotate(-10deg);
  margin-left: -10px;
}

.legs.left .leg:nth-child(2) {
  transform: rotate(-20deg);
  margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
  transform: rotate(20deg);
  margin-left: -20px;
}

.legs.left .leg:nth-child(3) {
  transform: rotate(-50deg);
  margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
  transform: rotate(50deg);
  margin-left: -30px;
}

/* 1. Animatie */
@keyframes look {
  0%, 40%, 100% {
    transform: translateX(0);
  }

  45%, 95% {
    transform: translateX(-110%);
  }
}

/* 3. Animatie */
@keyframes swing {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/* --------------------------------------------------------------*/
/* INTERACTIVE MAP WELCOME AND INFO POP UP BOXES */
/*--------------------------------------------------------------*/
#blur_out {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 90;
  background-color: black;
  opacity: 0.5;
}

#popup_box {
  position: absolute;
  width: 40%;
  height: 46%;
  left: 30%;
  top: 30%;
  z-index: 100;
  padding: 5%;
  background: #37a583;
  border-radius: 25px;
  padding: 20px;
  font-size: 15px;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  overflow: auto;
}

#popup_box a {
  cursor: pointer;
  text-decoration: none;
}

#popup_box a:hover {
  cursor: pointer;
  color:#fff059;
}

#popupBoxCloseButton:hover {
  background:#fff059;
}

#popup_box p, #popup_box h1 {
  position: relative;
  margin: 0% 0% 2% 0%;
  padding: 0;
  color: #fff3e0;
}

#popupBoxCloseButton {
  position: relative;
  margin: 0% 0% 2% 0%;
  padding: 2%;
  width: 20%;
  text-align: center;
  background:#ffa372;
  border-radius: 10px;
}

#popupBoxCloseButton p {
  color: #37a583;
  font-size: 20px;
}

#clustersInfoPopup, #flowsInfoPopup {
  display: none;
  position: absolute;
  z-index: 100;
  padding: 5%;
  background: #37a583;
  border-radius: 25px;
  padding: 20px;
  font-size: 15px;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  overflow: auto;
}

#clustersInfoPopup {
  height: 82%;
  width: 50%;
  top: 10%;
  left: 25%;
}

#flowsInfoPopup {
  height: 25%;
  width: 40%;
  top: 30%;
  left: 30%;
  padding-top: 2%;
}

#clustersInfoPopup p, #flowsInfoPopup p {
  position: relative;
  font-size: 14px;
  color: #fff3e0;
  text-decoration: none;
}

#clustersInfoPopupBoxCloseButton, #flowsInfoPopupBoxCloseButton {
  position: absolute;
  top: 0px;
  right: 25px;
}

#clustersInfoPopupBoxCloseButton p, #flowsInfoPopupBoxCloseButton p {
  font-size: 20px;
}

#clustersInfoPopupBoxCloseButton p:hover, #flowsInfoPopupBoxCloseButton p:hover {
  color: #fff059;
}

/* --------------------------------------------------------------*/
/* BURGER MENU */
/*--------------------------------------------------------------*/
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #37a583;
  color: #fff3e0;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -28%;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 28%;
  z-index: 1;
}

.nav.expanded {
  left: 0;
}

.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #fff059;
  text-decoration: none;
}

.nav-toggle {
  position: fixed;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar, .nav-toggle .nav-toggle-bar::after, .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  height: 0.25rem;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: '';
  background: #fff3e0;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*--------------------------------------------------------------*/
/* ABOUT US PAGE */
/*--------------------------------------------------------------*/
#aboutPage {
  width: 100%;
  height: 100%;
  background-color: #1b262c;
}

.aboutContainer{
  text-align: justify;
  padding: 5% 4% 0 4%;
  width: 100%;
}

.aboutProjectContainer, .aboutMethodologyContainer, .aboutUsContainer{
  margin-bottom: 5%;
}

.cityIconContainer{
  bottom: 0%;
  padding: 0 0 0 0;
  width: 100%;
}

#cityIcon{
  width: 100%;
  height: 100%;
  position: relative;
}

.aboutMethodologyContainer{
  display: flex;
  justify-content: start;
  top: 20%;
}

.aboutUsContainer{
  display: flex;
  justify-content: start;
}

#aboutUsText{
  width:45%
}

.aboutUsPicsNamesContainer{
  padding-left: 0.5%;
  width: 55%;
  display: flex;
  justify-content: space-around;
}

.aboutBikeIcon{
  text-align: center;
  width: 40%;
  height: 250px;
  /* margin-left: 55%; */
}

#aboutBikeIcon{
  width: 250px;
  height: 250px;
}

#aboutBusIconContainer{
  width: 40%;
  text-align: center;
}

#aboutBusIcon{
  width: 90%;
  height: 100%;
}

.aboutProject{
  display: flex;
  justify-content: start;
  top: 20%;
}

.aboutProject, .aboutUs{
  width: 100%;
  /* margin-left: 5%; */
  /* position: absolute; */
}

.aboutMethodology {
  /* position: absolute; */
  top:60%;
  width: 100%;
  margin-right: 5%;
}

.aboutUs {
  /* position: absolute; */
  top:120%;
}

.textBox {
  width: 60%;
}

/* text */
/* that is paragraph text */

.aboutPage {
  color: #fff3e0;
}

.aboutPageNames {
  text-align: center;
  font-size: 14px;
  margin-block-start:0;
}


.aboutProjectTitle {
  text-align: left;
  /* position: absolute; */
  width: 300px;
  top:0px;
}

.aboutMethodologyTextArea {
  width: 60%;
}

#aboutMethodologyTitle {
  text-align: right;
}

.aboutUsPictures {
  padding-top: 2%;
  display: flex;
  justify-content: space-around;
}

#chayne, #nathanael, #alicja, #philip, #hussein {
  height: 120px;
  width: 120px;
}

.aboutUsNames {
  display: flex;
  justify-content: space-around;
}

#aboutEmailIcon {
  width: 50px;
  height: 50px;
}

.aboutContactUsContainer {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width:25%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#aboutPage a:hover img {
  opacity: 0.5;
}

#aboutPage a:hover p {
  color: #fff059;
}

#aboutPage a:hover {
  color: #fff059;
}
